.button {
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid transparent;
  background: #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  display: flex;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button.active {
  color: #333;
  text-decoration: none;
}

.disableShadow {
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
}
.show-grid small {
  min-height: 50px;
  display: inline-block;
}

.xs {
  padding: 0.25rem 0.5rem;
}
.sm {
  padding: 0.375rem 0.75rem;
}

.md {
  padding: 0.5rem 1rem;
}

.lg {
  padding: 0.6875rem 1.375rem;
}

.default {
  background-color: #eee;
  color: rgb(95, 92, 92);
  border-color: #e0e0e0;
}

.primary {
  color: white;
  background-color: #2962ff;
  border-color: #3d5afe;
}
.primary:hover,
.primary:focus,
.primary.active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.warning:hover,
.warning:focus,
.warning.active {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.danger {
  color: white;
  background-color: #d32f2f;
  border-color: #ec7575;
}
.danger:hover,
.danger:focus,
.danger.active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.caps {
  text-transform: uppercase;
  padding: 2px;
}
.bold {
  font-weight: 600;
  letter-spacing: 1px;
}
.outline {
  background: none !important;
  box-shadow: none;
  color: #828282;
}

.primary.outline,
.primary.text {
  color: #2962ff;
}

.danger.outline,
.danger.text {
  color: #d32f2f;
}

.warning.outline,
.warning.text {
  color: #f0ad4e;
}

.text {
  background: transparent !important;
  border: 0px !important;
  color: #828282;
  box-shadow: none;
}

.raw-code {
  display: block;
  height: 40px;
}

.materialIcons {
  font-size: 14px;
  margin: 0 0.5rem;
}
