.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  min-height: 100vh;
}
main .rs-content {
  padding: 20px;
  margin: 20px;
  height: 100vh;
}
.rs-header {
  padding: 20px;
}
main.rs-content {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
