.App {
  /* text-align: center; */
}
* {
  font-family: sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  min-height: 100vh;
}
main .rs-content {
  padding: 20px;
  margin: 20px;
  height: 100vh;
}
.rs-header {
  padding: 20px;
}
main.rs-content {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}
.heading {
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 6px 10px #eee;
  display: block;
  padding: 10px 20px;
  text-align: center;
}
.show-grid b {
  letter-spacing: 1px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .rs-sidebar-collapse {
    flex: 0 0 56px !important;
    width: 56px !important;
    overflow: hidden;
    position: fixed;
  }
}
